.data{
    background-color:darkolivegreen;
    text-align: center;
    
}
.second{
    text-decoration-style: solid
}
.jumbotron{
    background-color:darkolivegreen;
    text-align: center;
}

.well{
    text-align: center;
}
.final{
    display:none;
}
#instructions{
    font-size: 20px
}